<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="githubzzx752904457.com.androidwidget">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/make"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TextViewActivity" />
        <activity android:name=".activities.AnalogAndTextClockActivity" />
        <activity android:name=".activities.AdapterViewFlipperActivity" />
        <activity android:name=".activities.StackViewActivity" />
        <activity android:name=".activities.SeekBarAndRatingBarActivity" />
        <activity android:name=".activities.ViewSwitcherActivity" />
        <activity android:name=".activities.CalendarViewActivity" />
        <activity android:name=".activities.DatePickerActivity" />
        <activity android:name=".activities.TimePickerActivity" />
        <activity android:name=".activities.NumberPickerActivity" />
        <activity android:name=".activities.SearchViewActivity" />
        <activity android:name=".activities.NotificationActivity" />
        <activity android:name=".activities.PopupWindowActivity" />
        <activity android:name=".activities.ProgressDialogActivity"></activity>
    </application>

</manifest>